<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestão Simplificada de Unidades Produtivas</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2>Gestão Simplificada de Unidades Produtivas</h2>
    <nav>
        <a href="{% url 'prestador' %}"> Prestadores de Serviços</a>
        <a href="{% url 'materia' %}"> Materias Primas</a>
        <a href=""> Processo de Produção </a>
        <a href=""> Materias Primas</a>
        <a href=""> Etapa de Materia</a>


    </nav>
    {% block conteudo %}
        <h3>Bem vindo ao Sistema de Gestão Simplificada de Unidades Produtivas</h3>
        <img src="Logo.png" width="746" height="282">
    {% endblock %}
</body>
</html>
