{% extends 'base.html' %}
{% block conteudo %}
    <h2>Produtos</h2>
<table>
  <tr>
    <th>Nome</th>
    <th>Telefone</th>
      <th>Email</th>
      <th>Data Nascimento</th>
      <th>CPF</th>
      <th>cargo</th>
  </tr>
    {% for prest in prestador %}
        <tr>
            <td><a href="{% url 'exibirprestador' prestado.id %}"> {{ prestador.nome | upper }}</a></td>
            <td>{{ pestador.telefone }}</td>
            <td>{{ produto.email }}</td>
            <td>{{ produto.dt_nasc }}</td>
            <td>{{ produto.cpf }}</td>
            <td>{{ produto.cargo }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}